@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --background: #f0f7fd;
}
@layer components {
  .input {
    @apply w-full p-2 border border-[#F5F5F5]  rounded-md focus:outline-none focus:ring-2 focus:ring-[#2B3990] text-sm;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #F0F7FD;
  }
}




body {
  background: #F0F7FD;
   font-family: "Plus Jakarta Sans", sans-serif;
   font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 900;
  letter-spacing: 0.3px;
}

span{
  letter-spacing: 0.3px;
}

.swiper {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.service-card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
}

.service-card::before {
  content: "";
  position: absolute;
  width: 119px;
  height: 112px;
  bottom: -1px;
  right: -1px;
  background-color: #f0f7fd;

  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}

.ourteam {
  background-size: cover;
  background:#2B3990;
  background-repeat: no-repeat;
  border-radius: 30px;
}






.ourteamcard::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 65px;
  right: -1px;
  border-radius: 50%;
  background-color: white;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 2;
}

.pb-20{
  padding-bottom: 7rem;
}
.mt-22{
  margin-top: 4.5rem;
}
.ourteamcard_img {
  position: relative;
  border-radius: 20px;

}

.ourteamcard_img::before {
content: "";
    position: absolute;
    width: 95px;
    height: 91px;
    bottom: 0px;
    right: 10px;
  background-color: #2B3990;
  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}

.ourteamcard_img_orgain {
  position: relative;
  border-radius: 20px;

}

.ourteamcard_img_orgain::before {
  content: "";
  position: absolute;
  width: 95px;
  height: 91px;
  bottom: 0px;
  right: 10px;
  background-color: #f0f7fd;
  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}





.ourteamcard_img_one {
  position: relative;
  border-radius: 20px;

}

.ourteamcard_img_one::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 75px;
  bottom: 7px;
  right: 14px;
  background-color: #fff;
  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .ourteamcard_img_one::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 75px;
    bottom: 7px;
    right: 29px;
  background-color: #fff;
  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}

}


.bg-blue{
  background-color: #EEF8FF;
  color:#2B3990;
}

.text-primary-blue{
  color:#2B3990;
}


.letter-space{
  letter-spacing:0.3px;
}

.dropdown {
  width: 100% !important;
}




.nursingimg {
  position: relative;
  border-radius: 20px;

}

.nursingimg::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 75px;
  bottom: -1px;
  right: -1px;
  background-color:#f0f7fd;

  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}


.doc {
  position: relative;
  background-color: white;
  border-radius: 100px;

}

.doc::before {
  content: "";
  position: absolute;
width: 146px;
    height: 137px;
  bottom: 0px;
  right: -2px;
  background-color: #f0f7fd;
  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}


.award{
 position: relative;
  border-radius: 20px;
}

.award::before{
   content: "";
  position: absolute;
    width: 138px;
    height: 133px;
  bottom: -1px;
  right: -1px;
  background-color:#f0f7fd;

  -webkit-mask: url("../assets/home/download.png") no-repeat;
  mask: url("../assets/home/download.png") no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;

  z-index: 1;
}


.swiper-pagination-bullet-active{
  color:#2B3990!important;
}

.custom-h-380{
  height:520px;
}

p{
  color:#5E566A;
letter-spacing:0.3px;
font-weight: 600;
line-height: 1.6;
font-size: 15px;
}


 input,
input::-webkit-input-placeholder {
    font-size: 14px;
     font-family: "Plus Jakarta Sans", sans-serif;
    color:#5E566A;
}

select ,textarea {
  color: #5E566A; 
  font-size: 14px;
   font-family: "Plus Jakarta Sans", sans-serif;
}
.bottom-33{
  bottom:9rem!important;
}

.customposition{
  position: relative;
    bottom: -24px;
    width: 225px;
    height: 168px;
    display: block;
}

.btn-2 {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    border: 2px solid #2A3D90;
    color: #2A3D90;
    border-radius: 9999px;
    padding: 0.75rem 1.75rem;
    transition: color 0.4s ease-in-out;
    z-index: 0;
    background-color: white;
    gap: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-2::before,
.btn-2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #2A3D90;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.btn-2::before {
    top: 0;
    right: 0;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 0px solid #2A3D90;
    border-right: 0px solid #2A3D90;
}

.btn-2::after {
    bottom: 0;
    left: 0;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid #2A3D90;
    border-left: 0px solid #2A3D90;
}

.btn-2:hover {
    color: white;
}

.btn-2:hover::before {
    border-left: 200px solid transparent;
    border-bottom: 100px solid transparent;
    border-top: 0px solid #2A3D90;
    border-right: 0px solid #2A3D90;
}

.btn-2:hover::after {
    border-right: 200px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 0px solid #2A3D90;
    border-left: 0px solid #2A3D90;
}


.btn-diagonal {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    background-color: #2A3D90;
    color: white;
    border-radius: 9999px;
    padding: 0.75rem 1.75rem;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    z-index: 0;
    gap: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.btn-diagonal::before,
.btn-diagonal::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #173366;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.btn-diagonal::before {
    top: 0;
    right: 0;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 0px solid #173366;
    border-right: 0px solid #173366;
}

.btn-diagonal::after {
    bottom: 0;
    left: 0;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid #173366;
    border-left: 0px solid #173366;
}

.btn-diagonal:hover {
    color: white;
    background-color: #173366;
}

.btn-diagonal:hover::before {
    border-left: 200px solid transparent;
    border-bottom: 100px solid transparent;
}

.btn-diagonal:hover::after {
    border-right: 200px solid transparent;
    border-top: 100px solid transparent;
}


.btn-white {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
    color: #2A3D90;
    border-radius: 9999px;
    padding: 0.75rem 1.75rem;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    z-index: 0;
    gap: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.btn-white::before,
.btn-white::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #2A3D90;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.btn-white::before {
    top: 0;
    right: 0;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 0px solid #2A3D90;
    border-right: 0px solid #2A3D90;
}

.btn-white::after {
    bottom: 0;
    left: 0;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid #2A3D90;
    border-left: 0px solid #2A3D90;
}

.btn-white:hover {
    color: white;
    background-color: #2A3D90;
}

.btn-white:hover::before {
    border-left: 200px solid transparent;
    border-bottom: 100px solid transparent;
}

.btn-white:hover::after {
    border-right: 200px solid transparent;
    border-top: 100px solid transparent;
}


